<div class="container" *ngIf="expLaboral">
    <div class="row">
        <div>
            <form (ngSubmit)="actualizarExperiencia()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Empresa</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLaboral.nombreExpe" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Año y Descripcion de Trabajo</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLaboral.descripcionExpe" required>
                </div>
                <button class="btn btn-primary">
                    Editar Experiencia Laboral
                </button>
            </form>
        </div>
    </div>
</div>
 
