@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@1&display=swap');
@import ".//.//../node_modules/bootstrap/dist/css/bootstrap.min.css";

*{
margin: 0;
padding: 0;
background-color: black;
color: aliceblue;
font-family: 'Red Hat Display', sans-serif;

}

body{
    width: 100%!important;
    overflow-x: hidden!important;
    
    
}


