.row{
    padding: 50px;
}


img{
    width: 20%;
    height: auto;
}
.nombre{
    font-weight: bolder;
    
}












@media (min-width:650px){
    #foto-perfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        margin-top: -300px;
    }

    #nombreytitulo{
        margin-top: 20px;
        margin-left: -170px;
        text-align: center;
        
        
    }

    .titulo-dev{
        margin-top:-15px;
    }

    #descripcion{
        margin-top: -10px;
        margin-left: 90px;
        text-align: center;
      

    }
    #acercademi{
        font-size: 44px;
        font-weight: bolder;
        color: #00C884;
        margin-left: 20px;

    }

    
}

@media (max-width:650px){
    #foto-perfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        margin-top: -100px;
        margin-left: 150px;
        
    }

    #nombreytitulo{
        margin-top: 60px;
        margin-left: 35px;
        text-align: center;
    }

    .titulo-dev{
        margin-top:-15px;
    }


    #descripcion{
        margin-left: 35px;
        text-align:center

    }

    #acercademi{
        font-size: 24px;
        font-weight: bolder;
        color: #00C884;
        

    }

    
}