<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="foto-perfil">
    </div>
    <br>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombreyapellido">
        <p class="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p class="titulo-dev">Full Stack Developer Jr.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-6 col-lg-6" id="descripcion">
        
        <div id="acercademi">.AcercaDeMi</div>
        <br>
        <div>
            <button  id="button-1"   type="button" class="btn btn-primary" routerLink="/editaracercade/1" *ngIf="isLogged"> Editar Nuevo Usuario</button>
        </div>
        <span>{{persona.descripcion}}</span>
    </div>
</div>
