<div class="row">
    <br>
    <h1 id="proyectos">.MisProyectos</h1>
    <br>
    <div id="btn">
        <button type="button" class="btn btn-primary" routerLink="/nuevoproyecto" *ngIf="isLogged"> Agregar
            Proyecto</button>
    </div>
    <br>
    <div>
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyectos of proyectos">
                    <td>
                        {{Proyectos.nombreProyecto}}
                    </td>
                    <td>
                        {{Proyectos.descripcionProyecto}}
                    </td>
                    <td>
                        <a href="{{Proyectos.urlProyecto}}" Target="_blank">Ir a Pagina Web del Proyecto</a>
                    </td>
                    <td>
                        <img class="img-fluid" src="{{Proyectos.imgProyecto}}" width="190px" height="150px">
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-primary" routerLink="/editarproyecto/{{Proyectos.id}}"><i
                                class="bi bi-pen"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="borrar(Proyectos.id)"><i
                                class="bi bi-trash3"></i>Borrar</button></td>
                </tr>
            </tbody>
        </table>

    </div>