.row{
    padding: 25px;
    text-align: center;
}




span{
    color: #00C884;
    margin: 20px;
    
}

#btn{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 600px;
}

.img-fluid{
    display: flex;
    align-content:center;
    margin-top: -90px;
}

table{
    margin:0px;
}




@media (min-width:650px){
    h1{
        font-size: 44px;
        font-weight: bolder;
        color: #00C884;
        margin-top: 30px;
        margin-left: 35px;
        text-align: center;
    }
    
    .img-fluid{
        display: flex;
        align-content:center;
        flex-wrap: wrap;
    }

    #btn{
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 50px;
    }


}

@media (max-width:650px){
    h1{
        font-size: 24px;
        font-weight: bolder;
        color: #00C884;
        margin-top: 30px;
        margin-left: 35px;
        text-align: center;
    }

    .img-fluid{
        display: flex;
        align-content:center;
        
    }

    
    


}