.row{
    padding: 25px;
}

.contenedor{
    width: auto;
}

#proyecto-1,#proyecto-2,#proyecto-3{
    display: inline-block;
    text-align: justify;
    

}
h2{
    color: #00C884;
    margin: 20px;
    
}

.img-1{
    margin-left: 760px;
}

.img-1,.img-2,.img-3{
    margin: 5px;
    padding-bottom: 5px;

}

@media (min-width:650px){
    h1{
        font-size: 44px;
        font-weight: bolder;
        color: #00C884;
        margin-top: 30px;
        margin-left: 35px;
        text-align: center;
    }
    

}

@media (max-width:650px){
    h1{
        font-size: 24px;
        font-weight: bolder;
        color: #00C884;
        margin-top: 30px;
        margin-left: 35px;
        text-align: center;
    }
    

}