app-redessociales{
    margin-top: 10px;
    float: right;
    margin-right: 30px;
    
    
    
}

app-logo-arg-programa{
    margin-top: 10px;
}

@media (max-width:650px){
    app-logo-arg-programa{
        margin-left: -4px;
    }
    app-redessociales{
        margin-top: 15px;
        margin-right: 20px;
        
        
        
    }


    
}