<div class="row">
    <h1 id="titulo-skills">.Hard & Soft Skills</h1>
    <br>
    <div>
        <br>
        <button  id="button-1"   type="button" class="btn btn-primary" routerLink="/nuevoskill" *ngIf="isLogged"> Agregar Nuevo Skill</button> 
    </div>
    
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
        <br>
        <circle-progress
        [title]="(skill.nombre)"
        [titleFontSize]="'2em'"
        [titleColor]="'#00C884'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00C884'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>

    <td *ngIf="isLogged">
        <button class="btn btn-primary" routerLink="/editarskill/{{skill.id}}"><i class="bi bi-pen"></i>Editar</button>
    </td>
    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="borrar(skill.id)"><i class="bi bi-trash3"></i>Eliminar</button></td>
    
    </div>

</div>

