<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/fotoperfil.png" class="img-fluid" id="foto-perfil">
    </div>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombreytitulo">
        <p class="nombre">Jose Maria Novillo</p>
        <p class="titulo-dev">Full Stack Developer Jr.</p>
    </div>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="descripcion">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus unde commodi temporibus ut ducimus ipsa corporis quia magnam perferendis! Non quam sequi qui dolore quo, delectus mollitia illum fuga autem.</span>
    </div>
</div>
