<div class="row">
    <h1 id="experiencialaboral">.Experiencia Laboral</h1>
    <br>
    
    <div class="col-lg-7" id="lista">
        <ul>
            <li>
                <h3>Trabajo 1</h3>  
                <h4>Año 2010</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ut consequuntur optio quisquam! Repellat rem ex, vero blanditiis est animi sapiente recusandae dicta repellendus? Aspernatur aliquam perferendis quisquam aliquid quam?</p>

            <li>
                <h3>Trabajo 2</h3>  
                <h4>Año 2016</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ut consequuntur optio quisquam! Repellat rem ex, vero blanditiis est animi sapiente recusandae dicta repellendus? Aspernatur aliquam perferendis quisquam aliquid quam?</p>

            <li>
                <h3>Trabajo 3</h3>  
                <h4>Año 2018</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ut consequuntur optio quisquam! Repellat rem ex, vero blanditiis est animi sapiente recusandae dicta repellendus? Aspernatur aliquam perferendis quisquam aliquid quam?</p>
        </ul>
    </div>

</div>
