<div class="wrapper">
  
  <div class="text-center mt-4 name">
      Iniciá Sesión
  </div>
  <form class="p-3 mt-3" #f = "ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required>
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required>
      </div>
      <button class="btn mt-3">Login</button>
  </form>
 
</div>